nav ul {
    margin-top: 20px;
    list-style: none;
}

#timer {
    float: right;
    font-size: 24px;
    margin-right: 50px;
    
}

#HS {
    font-size: 30px;
    text-decoration-line: none;
    list-style: none;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 24px;
}

#startQuiz {
    background-color: #0BDA51;
    border: #0BDA51;
    border-radius: 5px;
    margin-left: 33%;
    margin-top: 3%;
    padding: 15px 32px;
    font-size: 20px;
    font-weight: bold;
}

#startQuiz:hover {
    opacity: 0.7;
    cursor: pointer;
}

#container {
    position: fixed;
    left: 35%;
    width: 700px;
    height: 700px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

ol li{
    background-color: #0BDA51;
    border: #0BDA51;
    margin: 5px;
    border-radius: 5px;
    padding: 15px 32px;
    font-size: 20px;
}

#home-page {
    font-size: 30px;
    font-weight: bold;
}

#container-hs {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 45%;
    top: 20%;
}

ul#highScore {
    background-color: hsla(120, 100%, 50%, 0.3);
    font-size: 24px;
}

#goBack {
    font-size: 18px;
}

#clear {
    font-size: 18px;
}

#home-page button {
    font-size: 20px;
}

#home-page input {
    font-size: 20px;
}
